<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
    <div class="fh5co-staff">
        <img src="images/person1.jpg" alt="Free HTML5 Templates by gettemplates.co">
        <h3> <%= member.name %></h3>
        <strong class="role"><%= member.role %></strong>
        <p><%= member.message %></p>
        <ul class="fh5co-social-icons">
            <% for(var i=0; i<member.socialLinks.length; i++) {%>
                <li><a href="<%=member.socialLinks[i].url%>" target="_blank"><i class="icon-<%=member.socialLinks[i].service%>"></i></a></li>
            <% } %>
        </ul>
    </div>
</div>